.table_container{
    /* background: rgba(184, 234, 205, 0.48); */
    border-radius: 16px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    border: 1px solid rgba(184, 234, 205, 0.65);
    width: 15%;
}

@media(max-width:768px){
    .table_container{
        width: 40%;
    }
}